#site-navigation {
	height: 35;
	overflow: hidden;
	float: left;
	clear: both;
}
.navLi {
	width: 25%;
	align-content: center;
}
.headingList {
	text-align: center;
	font-weight: bold;
}
.sub-topics {
	text-align: center;
}
.current-page {
	font-weight: bold;
	color: red;
}